@using Bog.Client.Domain.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<MenuConfiguration> MenuConfigurationOptions
@{
    var menuOptions = MenuConfigurationOptions.Value;
    var menuItems = menuOptions.MenuList;
}
<nav class="menu">
    <ul>
        @foreach (var menuItem in menuItems)
        {
            var menuLink = Url.Action("GetArticle", new
            {
                contentId = menuItem.Id,
                title = menuItem.Title?.Trim().Replace(' ', '-')
            });
            <li><a href="@menuLink">@menuItem.Title</a></li>
        }
    </ul>
</nav>