@using Bog.Api.Domain.Values
@using Bog.Api.Common
@model Bog.Client.Domain.Models.ArticleContentResult

@{
    var decodedContent = StringUtilities.FromBase64(Model.EncodedContent);
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.Article.Description;
    ViewData["Author"] = Model.Article.Author;
    ViewData["Published"] = Model.Article.Updated ?? Model.Article.Created;
    ViewData["Canonical"] = Url.Link(null, new
    {
        action = "GetArticle",
        contentId = Model.Article.Id,
    });
}

<article>
    <h1>@(Model.Article.Title)</h1>
    <cite>@($"by - {Model.Article.Author} {Model.Article.Created:d}")</cite>
    <div>@Html.Raw(decodedContent)</div>
</article>